name: Build and Push Docker Images

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      frontend_changed: ${{ steps.filter.outputs.frontend }}
      backend_changed: ${{ steps.filter.outputs.backend }}

    steps:
      - uses: actions/checkout@v4

      - name: Detect which folders changed
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            frontend:
              - 'frontend/**'
            backend:
              - 'backend/**'



  build-frontend:
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend_changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin

      - name: Build & Push Frontend Image
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          docker build -t deviliam/dquiz-frontend:latest -t deviliam/dquiz-frontend:$SHORT_SHA ./frontend
          docker push deviliam/dquiz-frontend:latest
          docker push deviliam/dquiz-frontend:$SHORT_SHA



  build-backend:
    needs: detect-changes
    if: needs.detect-changes.outputs.backend_changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin

      - name: Build & Push Backend Image
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          docker build -t deviliam/dquiz-backend:latest -t deviliam/dquiz-backend:$SHORT_SHA ./backend
          docker push deviliam/dquiz-backend:latest
          docker push deviliam/dquiz-backend:$SHORT_SHA
